---
import Layout from "../layouts/Layout.astro";
import HeroHeader from "../components/index/HeroHeader.astro";
import FAQs from "../components/index/FAQs.astro";
import ProblemSolution from "../components/index/ProblemSolution.astro";
import BasedBenefits from "../components/index/BasedBenefits.astro";
import BasedClients from "../components/index/BasedClients.astro";
import HeroFooter from "../components/index/HeroFooter.astro";
import Features from "../components/index/Features.astro";
---

<Layout title="Giuseppe Sierra">
	<section>
		<article style="background-color: #004658;">
			<HeroHeader />
			<svg
			class="footer-wave-svg"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1200 100"
			preserveAspectRatio="none"
		>
			<path
				style="color: #004658;"
				class="footer-wave-path"
				d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"
			></path>
		</svg>
		</article>
		

		<article class="wrapper">
			<ProblemSolution />
		</article>

		<article class="wrapper">
			<BasedBenefits />
		</article>

		<article class="wrapper">
			<BasedClients />
		</article>

		<article class="wrapper">
			<HeroFooter />
		</article>

		<article class="wrapper">
			<Features />
		</article>

		<article class="wrapper">
			<FAQs />
		</article>
	</section>
</Layout>

<style>
	svg {
		position: absolute;
		background-color: var(--white);
		z-index: 2000;
	}
	article {
		position: relative;
		padding: 4rem 0;
	}
</style>
