<div class="slider-wrapper">
  <div class="slider">
    <img
      id="slide-1"
      src="https://www.shutterstock.com/image-photo/young-nurse-helping-elderly-man-600nw-2216879681.jpg"
      alt="adfasdf"
    />
    <img
      id="slide-2"
      src="https://img.eldefinido.cl/portadas/650/2015-02-10-212TVF2097.jpg"
      alt="asd"
    />
    <img
      id="slide-3"
      src="https://t3.ftcdn.net/jpg/03/31/85/16/360_F_331851690_Onjj3AQ89BrZRVdH4GIRxReqrRcXLKJZ.jpg"
      alt="dfadfadsf"
    />
    <img
      id="slide-4"
      src="https://www.shutterstock.com/image-photo/man-before-after-weight-loss-600nw-1692356080.jpg"
      alt="dfadfadsf"
    />
  </div>
  <div class="slider-nav">
    <a href="#slide-1"></a>
    <a href="#slide-2"></a>
    <a href="#slide-3"></a>
    <a href="#slide-4"></a>
  </div>
</div>
<style>
  .slider-wrapper {
    position: relative;
    aspect-ratio: 16/9;
  }

  .slider {
    position: absolute;
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 2rem;
  }
  .slider img {
    flex: 1 0 100%;
    scroll-snap-align: auto;
    object-fit: cover;
    width: 100dvw;
  }

  .slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  .slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--blue);
    border: solid 2px rgba(0, 0, 0, 0.5);
    opacity: 0.85;
    transition: opacity ease 250ms;
  }

  .slider-nav a:hover {
    opacity: 1;
  }
</style>