<div class="supercontainer">
  <header class="">
    <h2>Reseñas de mis pacientes</h2>
    <p>Conoce la historia de mis pacientes. Un antes un despues.</p>
  </header>

  <div class="container">
    <div class="subcontainer">
      <div class="benefit">
        <i class="fas fa-user"></i>
        <div>
          <h3>Cliente de ejemplo</h3>
          <p>Breve introducción sobre el cliente. Redacción de un postt</p>
          <a href="">Leer más</a>
        </div>
      </div>
    </div>

    <div class="subcontainer">
      <div class="benefit">
        <i class="fas fa-user"></i>
        <div>
          <h3>Cliente de ejemplo</h3>
          <p>Breve introducción sobre el cliente. Redacción de un postt</p>
          <a href="">Leer más</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    
    <div class="subcontainer">
      <div class="benefit">
        <i class="fas fa-user"></i>
        <div>
          <h3>Cliente de ejemplo</h3>
          <p>Breve introducción sobre el cliente. Redacción de un postt</p>
          <a href="">Leer más</a>
        </div>
      </div>
    </div>

    <div class="subcontainer">
      <div class="benefit">
        <i class="fas fa-user"></i>
        <div>
          <h3>Cliente de ejemplo</h3>
          <p>Breve introducción sobre el cliente. Redacción de un postt</p>
          <a href="">Leer más</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  header {
    width: 100%;

    text-align: center;
    padding: 3rem;
  }
  h2 {
    width: 100%;
    margin: 2rem 0;
  }
  .benefit {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 1.5rem;

    padding: 1.5rem;
  }
  p,
  a {
  }

  i,
  a {
    color: var(--blue);
  }

  h2 {
  }
</style>
