<div class="supercontainer">
    
  <header class="">
    <h2>Beneficios del servicio</h2>
    <p>Beneficios de solicitar tu cita previa con el doctor Giuseppe Sierra</p>
  </header>
  <div class="container">
    <div class="subcontainer">
      <div class="benefit">
        <i class="fas fa-coffee"></i>
        <div>
          <h3>Coffeee</h3>
          <p>asasdasfds asdfasdf afsasfdd asdf asdfdsds ssd asdfefff sd dssasd</p>
          <a href="">Leer m치s</a>
        </div>
      </div>
     
    </div>
    <div class="subcontainer">
      <div class="benefit">
        <i class="fas fa-coffee"></i>
        <div>
          <h3>Coffeee</h3>
          <p>asasdasfds asdfasdf afsasfdd asdf asdfdsds ssd asdfefff sd dssasd</p>
          <a href="">Leer m치s</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="subcontainer">
      <div class="benefit">
        <i class="fas fa-coffee"></i>
        <div>
          <h3>Coffeee</h3>
          <p>asasdasfds asdfasdf afsasfdd asdf asdfdsds ssd asdfefff sd dssasd</p>
          <a href="">Leer m치s</a>
        </div>
      </div>
     
    </div>
    <div class="subcontainer">
      <div class="benefit">
        <i class="fas fa-coffee"></i>
        <div>
          <h3>Coffeee</h3>
          <p>asasdasfds asdfasdf afsasfdd asdf asdfdsds ssd asdfefff sd dssasd</p>
          <a href="">Leer m치s</a>
        </div>
      </div>
    </div>
  </div>

</div>

<style>
  header {
    width: 100%;

    text-align: center;
    padding: 3rem;
  }
  h2 {

    width: 100%;
    margin: 2rem 0rem;
  }
  .benefit {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 1.5rem;
  
    padding: 1.5rem;
  }
  p, a {

  }

  i, a{
    color: var(--blue);
  }

  h2 {

  }
</style>
