<div class="supercontainer" style="padding: 0.5rem;">

    <div class="container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/WgXU7XAZYmQ?si=6ptkTTmDLkxuIlnk"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
        <p>
          <strong>Introduce Solution</strong>
          Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones
          de tipografías o de borradores de diseño para probar el diseño visual antes de
          insertar el texto final. Wikipedia
        </p>
    </div>
    <div class="container">
      <div class="subcontainer">
        <h2>Problem / Solution</h2>
        <p class="subtitle">
          <strong> Talk about main pain point. </strong>
          Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones
          de tipografías o de borradores de diseño para probar el diseño visual antes de
          insertar el texto final. Wikipedia
        </p>
      </div>
      <div class="subcontainer">
        <p>
          <strong>Agitate with examples. </strong>
          Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones
          de tipografías o de borradores de diseño para probar el diseño visual antes de
          insertar el texto final. Wikipedia
        </p>
        <p>
          <strong>Introduce Solution</strong>
          Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones
          de tipografías o de borradores de diseño para probar el diseño visual antes de
          insertar el texto final. Wikipedia
        </p>
      </div>
   
      
    </div>

  
</div>

<style>
  .subtitle {

  }
  iframe, p, h2 {
    padding: 1rem;
  }
  h2 {

    font-weight: bold;
  }
  strong {
    font-weight: bold;
  }
</style>
